@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212; /* negro mate */
  color: #e5e5e5; /* blanco suave */
  font-family: 'Inter', sans-serif;
}

a {
  color: #ff4c4c; /* rojo para enlaces */
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #ff1a1a;
}

.btn-link {
  color: #ff4c4c;
  border-bottom: 1px dotted transparent;
  transition: all 0.2s;
}

.btn-link:hover {
  color: #ff1a1a;
  border-bottom: 1px dotted #ff1a1a;
}

/* Efectos hover para tarjetas */
.card {
  background-color: #1e1e1e;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 76, 76, 0.3);
}
